body
{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding-top: 75px;
}
main
{
    margin: 0 auto;
    width: 100%;
    float: left;
    position: relative;
}
.principal-menu /*top header*/
{
    top: 0;
    padding-top: 0;
    position: fixed;
    left: 0;
    margin: auto;
    margin-top: 0;
    width: 100%;
    background-color:#283447;
    height: 100px;
}
.logo
{
    float: left;
    padding-top: 10px;
    padding-left: 60px;
    width: 30%;
}
.menu /*about|skills|contact*/
{
    padding-top: 30px;
    padding-left: 400px;
    width: 70%;
    float: left;
}

.content-1
{
    width: 100%;
}

.about-me
{
    background-color: #33DBAC;
    width: 100%;
    height: 300px;
    margin-top: 25px;
    text-align: center;
    border-bottom: 1px dotted #283447;

}
.photo
{
    width: 980px;
    padding-top: 50px;
    padding-left: 300px;
}
.skills
{
    width: 100%;
}
.skills-icon
{
    width: 980px;
    margin-left: 145px;
    text-align: center;
}
.contact
{
    padding: 10px;
    color:#E3AC6F;
    width: 100%;
}
.social-media
{
    background-color:  #283447;
    height: 60px;
    width: 100%;
    padding-top: 25px;
    padding-left: 620px;
    align-items: center;
}
